{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <header>
        <h1>{% block header_title %}Django Application{% endblock %}</h1>
    </header>
    <nav>
        {% block nav_content %}
        <a href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="#contact">Dashboard</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
        {% endblock %}
    </nav>
    {% for message in messages %}
    <div class="{{message.tags}}">{{message}}</div>
    {% endfor %}

    {% block content %}{% endblock %}
    <footer>
        &copy; 2024 Your Website. All rights reserved.
    </footer>
</body>

</html>