{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block header_title %}Login{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<section>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{form.as_p}}
        <div class="signup-link">
            Do not have an account? <a href="{% url 'signup' %}">Signup</a>
        </div>
        <input type="submit" value="Login" />
    </form>
</section>
{% endblock %}